@media (min-width: 767px) and (max-width: 990px) {
  /****home1****/
  .b1desc h1 {
    font-size: 45px;
  }
  .b1desc.text-left.bdescs {
    padding-bottom: 30px !important;
  }
  .bannerImg img {
    width: 100%;
  }
  .ourSkills {
    position: relative;
    width: 100%;
    margin-top: 60px;
  }
  .contactForms {
    margin-bottom: 80px;
  }
  .descriptions2 {
    padding: 0 !important;
  }
  .featuredPricingTable {
    margin: -15px 0 0;
  }
  .sectionTitle.text-left {
    text-align: center;
  }
  .sectionTitle.text-left p {
    float: none;
  }
  .comonSection .stBar.lefts {
    margin: 0 auto;
  }
  .sectionTitle.text-left > h1 {
    text-align: center;
  }
  .subscribeForm p {
    margin-top: 20px;
  }
  .mainMenu ul li {
    margin-left: 0 !important;
  }
  h1 {
    font-size: 30px !important;
    letter-spacing: 0 !important;
  }
  .sectionTitle h2 {
    font-size: 25px;
    letter-spacing: 4px;
  }
  .feaArea {
    padding: 0;
  }
  .screenshotSlider .textbox {
    padding-top: 30px;
  }
  .myAccordion .panel-title > a {
    line-height: 16px;
    padding: 10px 10px 10px 30px;
  }
  .sectionTitle {
    margin-top: 30px;
  }
  .subscribeForm {
    padding: 30px 0 20px;
  }
  #accordion {
    margin-bottom: 60px;
  }
  .singleTeam3 {
    margin-bottom: 30px;
  }
  /****home2****/
  .mainMenu ul li {
    margin-right: 10px;
  }
  .b1desc5 h1 {
    font-size: 79px !important;
    line-height: 1;
  }
  .service_tab ul li a {
    margin-right: 10px;
  }
  .service_tab {
    margin-top: 30px;
  }
  .service_tab .tab-content {
    margin: 50px 0;
  }
  .featuresSection .ImgDiv {
    margin-top: 130px;
  }
  .feaArea2 {
    padding-bottom: 30px;
  }
  .singleTeam2 {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
  }
  #team {
    padding-bottom: 30px;
  }
  #pricing {
    margin-bottom: 50px;
  }
  .comonSection.contactSection {
    padding-bottom: 0;
  }
  .conInfoRows {
    margin-bottom: 60px;
  }
  .singleClients img {
    width: inherit;
  }
  /****home3****/
  .featuresSection3 .ImgDiv {
    margin-top: 160px;
  }
  .comonSection.testimonial2 {
    padding: 30px 0;
  }
  .funfacts .singleFacts {
    margin-bottom: 50px;
  }
  .conInfo h5 {
    line-height: 1;
  }
  /****home4****/
  .handMobile {
    top: 30.5%;
  }
  .ImgDiv.text-right {
    margin-top: 9px;
  }
  /****home7****/
  #baner_slider {
    padding-top: 130px;
  }
  .carouselBanner .carousel-control.left {
    left: -5px;
  }
  .carouselBanner .carousel-control.right {
    right: -5px;
  }
  .banHalfImg.bannerImg {
    padding-top: 200px;
  }
}

@media (min-width: 481px) and (max-width: 766px) {
  /****home1****/
  .presets,
  .mainMenu {
    display: none;
  }
  .b1desc {
    padding: 0;
  }
  .b1desc h1 {
    font-size: 50px;
  }
  .bannerImg {
    margin-top: 50px;
  }
  .bannerImg img {
    width: 70%;
  }
  .ImgDiv img {
    width: 100%;
  }
  .ImgDiv.text-right {
    text-align: center;
  }
  .comonSection {
    padding: 30px 0;
  }
  .singleFacts {
    margin-bottom: 20px;
  }
  /****home2****/
  .b1desc5 {
    padding: 80px 0 0 !important;
  }
  .b1desc5 h1 {
    line-height: .8;
  }
  .service_tab ul li a {
    margin: 0 5px;
    width: 120px;
  }
  .textbox {
    text-align: center;
  }
  .descriptions3 {
    margin-top: 30px;
  }
  /****home3****/
  .pricingTopHead {
    width: 100%;
    text-align: center;
  }
  .priceCurrency3,
  .priceDescUl3,
  .pricing3btn {
    text-align: center;
    width: 100%;
  }
  .downloadButton {
    margin-bottom: 10px;
  }
  .subscribeForm {
    padding: 0 15px;
  }
  /****Home4****/
  .pricingTable {
    padding: 0 15px;
  }
  .featuredPricingTable {
    margin: 0;
  }
    /****home7****/
  .b1desc8.banHalfCon,
  .full_ban_con {
    padding-top: 100px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /****home1****/
  .presets,
  .mainMenu {
    display: none;
  }
  .b1desc h1 {
    font-size: 30px;
  }
  .apButtons {
    padding: 15px 10px;
  }
  .b1desc {
    padding: 40px 0 !important;
    text-align: center;
  }
  .b1desc h2::before {
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .bannerImg img {
    width: 93%;
  }
  .contactForms textarea {
    margin-bottom: 0;
  }
  .bannerImg.text-center {
    text-align: inherit;
    top: 45px;
  }
  .descriptions {
    overflow: hidden;
    padding-top: 70px;
  }
  .ourSkills {
    margin-bottom: 30px;
    margin-top: 60px;
  }
  .descriptions h1,
  .sectionTitle h2 {
    letter-spacing: 0;
  }
  .ImgDiv.text-right {
    margin-top: 40px;
  }
  .ImgDiv img {
    width: 100%;
  }
  .sectionTitle p {
    margin: 0 auto 23px;
    width: 100%;
  }
  h1 {
    letter-spacing: 0;
    line-height: 1 !important;
  }
  .screenshotSlider .textbox {
    padding-top: 30px;
  }
  .myAccordion .panel-title > a span {
    top: 20px;
  }
  .myAccordion .panel-title > a.collapsed span {
    top: 25px;
  }
  .myAccordion .panel-title > a.collapsed {
    line-height: 16px;
  }
  .myAccordion .panel-title > a {
    line-height: 16px;
    padding: 13px 10px 13px 30px;
  }
  .singleFacts {
    margin-bottom: 50px;
  }
  .pricingTable {
    padding: 0 !important;
    margin-bottom: 30px;
  }
  #pricing .noPadding {
    padding: 0 15px;
  }
  .comonSection {
    overflow: hidden;
  }
  .videoSection {
    height: 350px;
  }
  .sectionTitle,
  .conInfo,
  .onlineChat {
    margin-top: 60px;
  }
  .downloadButton {
    margin-bottom: 10px;
  }
  .subscribeForm {
    padding: 0;
    margin-top: 20px;
  }
  .socials a {
    margin-bottom: 4px;
    padding: 8px 14px 5px;
    margin-right: 0;
  }
  .bannerImg.text-center.bimgs {
    margin-bottom: 60px;
  }
  .comonSection.contactSection {
    padding-top: 20px;
  }
  .featuredPricingTable {
    margin: 0;
    box-shadow: none;
  }
  .ImgDiv {
    margin-bottom: 30px;
  }
  #backToTop {
    right: 15px;
  }
  .copys {
    line-height: inherit;
  }
  .sub_submit {
    width: 30%;
  }
  /****home2****/
  .bannerFive,
  .b1desc5 p {
    width: 100% !important;
  }
  .b1desc5 h1::after,
  .b1desc5 h1::before,
  .b1desc5 h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .b1desc5 h1::after,
  .b1desc5 h1::before {
    top: 20px;
  }
  .b1desc5 h1 {
    padding: 0 30px;
  }
  .b1desc5 {
    margin-top: 20px;
  }
  .tabPanelContent h2 {
    font-size: 15px;
  }
  .tabPanelContent p {
    text-align: center !important;
  }
  .textbox {
    text-align: center;
    margin-bottom: 60px
  }
  .textbox.noMarginBottom {
    margin-bottom: 60px;
  }
  .tabPanelContent {
    margin-bottom: 30px;
  }
  .descriptions3 {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .descriptions4 {
    padding: 0 !important;
  }
  .sectionTitle.text-left {
    text-align: center !important;
  }
  #about .stBar.lefts,
  #why_us .stBar.lefts,
  .comonSection .stBar.lefts {
    margin: 0 auto;
  }
  .team_desc2 {
    text-align: center;
  }
  .singleTeam2 {
    margin-bottom: 30px;
  }
  .fearuedTable2 {
    margin: 0;
    padding: 0 15px;
  }
  .twitterSection {
    margin: 0;
  }
  .subscribeForm p {
    margin-bottom: 30px;
  }
  /****home3****/
  .calToActionBtn {
    padding: 20px 0;
  }
  .pricingTopHead,
  .priceDescUl3,
  .pricing3btn {
    text-align: center;
  }
  .priceCurrency3 {
    width: 100%;
    float: right;
    text-align: center;
  }
  .b1desc3 {
    padding-top: 100px !important;
  }
  .singleTeam3 {
    margin-bottom: 30px;
  }
  .pricingTable3 {
    margin-bottom: 30px;
  }
  /****home4****/
  .comonSection.videoSection {
    padding: 0 !important;
  }
  .descriptions .stBar {
    margin-left: 0 !important;
  }
  .b1desc6.text-center.bdescs {
    margin-top: 40px;
  }
  /****home6****/
  .descriptions2 {
    padding-bottom: 30px;
  }
  .b1desc7 p {
    width: 100%;
  }
  .b1desc7 {
    margin-top: 35px;
  }
  .b1desc7 h1 {
    font-size: 30px;
    line-height: 1;
  }
  /****home7****/
  .b1desc8.banHalfCon,
  .full_ban_con {
    padding-top: 100px;
  }
  .b1desc8 p {
    width: 100%;
  }
  .b1desc8 h1 {
    line-height: 1;
  }
  .comonSection .descriptions {
    padding-top: 0;
  }
  .bannerImg.text-center.banHalfImg {
    display: none;
  }
}
